<!-- begin::Header -->
<div class="card-header border-0">
  <h3 class="card-title fw-bolder text-dark">Compras( últimas 5 de {{childMessage.sales.length}})</h3>
  <div class="card-toolbar">
    <!-- begin::Menu -->
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </button>
    <!-- end::Menu -->
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body pt-2">
  <ng-container *ngFor="let sale of SALES | slice:0:5">
    <!-- begin::Item -->
    <div class="d-flex align-items-center mb-7">
      <!-- begin::Avatar -->
      <div class="symbol symbol-50px me-5">
        <img src="./assets/media/logos/logomalcolm.png" class="" alt="" />
      </div>
      <!-- end::Avatar -->
      <!-- begin::Text -->
      <div class="flex-grow-1">
        <a href="#" onclick="return false" (click)="verVenta(sale)" class="text-dark fw-bolder text-hover-primary fs-6">
          {{sale.n_transaccion}}
        </a>
        <span class="text-muted d-block fw-bold">Fecha: {{sale.created_at|date}}</span>
        <span class="text-muted d-block fw-bold">Total: ${{sale.total}}</span>
        <span class="text-muted d-block fw-bold">Metodo de Pago: {{sale.method_payment}}</span>
        
      </div>
      <div class="flex-grow-1">
        <span class="text-muted d-block fw-bold">Status: <br>
          <div class="badge badge-light-warning fw-bolder" *ngIf="sale.status == 1">Pendiente</div>
          <div class="badge badge-light-success fw-bolder" *ngIf="sale.status == 2">Entregado</div>
          <div class="badge badge-light-danger fw-bolder" *ngIf="sale.status == 3">Cancelado</div>
        </span>
        
      </div>
      <!-- end::Text -->
    </div>
    <!-- end::Item -->
  </ng-container>
  
  
</div>
<!-- end::Body -->
