<span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span>
<div class="card">

    <!--begin::Card header-->
    <div class="card-header">
        <!--begin::Card title-->
        <div class="card-title fs-3 fw-bolder">Editar Cupón: {{cupon_selected.code}}</div>
        <!--end::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                <!--begin::back-->
                <a  (click)="goBack()" type="button" class="btn btn-danger">Volver </a>
                <!--end::back-->
            </div>
            <!--end::Toolbar-->
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Form-->
    <form id="kt_project_settings_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
        <!--begin::Card body-->
        <div class="card-body p-9">

            <!--begin::Row-->
            <div class="row mb-8 align-items-center">
                <div class="col-5">
                    <div class="fs-6 fw-bold mt-2 mb-3">Nombre del Cupón</div>
                    <input type="text" class="form-control form-control-solid" [(ngModel)]="code" name="code"
                        placeholder="PROMOABRIL">
                </div>
                <div class="col-3">
                    <div class="row g-9">
                        <div class="col-12">
                            <div class="fs-6 fw-bold mt-2 mb-3">Seleccione tipo de Descuento</div>
                        </div>
                        <div class="col-12">
                            <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6 "
                                data-kt-button="true" [ngClass]="{'active':type_discount == 1}">
                                <span
                                    class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                    <input class="form-check-input" type="radio" name="type_discount"
                                        [checked]="type_discount == 1" (click)="selectedTypeDiscount(1)">
                                </span>
                                <span class="ms-5">
                                    <span class="fs-6 fw-bolder mb-1 d-block">Porcentaje</span>
                                </span>
                            </label>
                        </div>
                        <div class="col-12">
                            <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6"
                                data-kt-button="true" [ngClass]="{'active':type_discount == 2}">
                                <span
                                    class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                    <input class="form-check-input" type="radio" name="type_discount"
                                        [checked]="type_discount == 2" (click)="selectedTypeDiscount(2)">
                                </span>
                                <span class="ms-5">
                                    <span class="fs-6 fw-bolder mb-1 d-block">Monto Fijo</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <input type="number" class="form-control form-control-solid" [(ngModel)]="discount" name="discount"
                        placeholder="30">
                </div>
            </div>
            <!--end::Row-->
            <div class="row mb-8 align-items-center">
                <div class="col-3">
                    <div class="row g-9">
                        <div class="col-12">
                            <div class="fs-6 fw-bold mt-2 mb-3">Seleccione tiempo de descuento</div>
                        </div>
                        <div class="col-12">
                            <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6 "
                                data-kt-button="true" [ngClass]="{'active':type_count == 1}">
                                <span
                                    class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                    <input class="form-check-input" type="radio" name="type_count"
                                        [checked]="type_count == 1" (click)="selectedTypeCount(1)">
                                </span>
                                <span class="ms-5">
                                    <span class="fs-6 fw-bolder mb-1 d-block">Ilimitado</span>
                                </span>
                            </label>
                        </div>
                        <div class="col-12">
                            <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6"
                                data-kt-button="true" [ngClass]="{'active':type_count == 2}">
                                <span
                                    class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                    <input class="form-check-input" type="radio" name="type_count"
                                        [checked]="type_count == 2" (click)="selectedTypeCount(2)">
                                </span>
                                <span class="ms-5">
                                    <span class="fs-6 fw-bolder mb-1 d-block">Limitado</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-3" *ngIf="type_count == 2">
                    <input type="number" class="form-control form-control-solid" [(ngModel)]="num_use" name="num_use"
                        placeholder="30">
                </div>
                <div class="col-3">
                    <!--begin::Input group-->
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label class="required fw-bold fs-6 mb-2">Status</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <select class="form-control form-select-solid fw-bolder" name="state" [(ngModel)]="state"
                            placeholder="state">
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                        <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                </div>
            </div>
            <hr>
            <div class="row mb-8 align-items-center">
                <div class="col-3">
                    <div class="row g-9">
                        <div class="col-12">
                            <div class="fs-6 fw-bold mt-2 mb-3">Seleccione tipo de Cupón</div>
                        </div>
                        <div class="col-12">
                            <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6 "
                                data-kt-button="true" [ngClass]="{'active':type_coupon == 1}">
                                <span
                                    class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                    <input class="form-check-input" type="radio" name="type_coupon"
                                        [checked]="type_coupon == 1" (click)="selectedTypeCoupon(1)">
                                </span>
                                <span class="ms-5">
                                    <span class="fs-6 fw-bolder mb-1 d-block">Cursos</span>
                                </span>
                            </label>
                        </div>
                        <div class="col-12">
                            <label class="btn btn-outline btn-outline-dashed btn-outline-default d-flex text-start p-6"
                                data-kt-button="true" [ngClass]="{'active':type_coupon == 2}">
                                <span
                                    class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                                    <input class="form-check-input" type="radio" name="type_coupon"
                                        [checked]="type_coupon == 2" (click)="selectedTypeCoupon(2)">
                                </span>
                                <span class="ms-5">
                                    <span class="fs-6 fw-bolder mb-1 d-block">Categoría</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- selectores   -->
                <div class="col-3" *ngIf="type_coupon == 1">
                    <div class="fs-6 fw-bold mt-2 mb-3">Curso</div>
                    <select class="form-control form-select-solid fw-bolder" name="categorie" [(ngModel)]="course_id">
                        <!-- <option [value]="">Seleccione</option> -->
                        <ng-container *ngFor="let course of courses">
                            <option [value]="course.id">{{course.title}}</option>
                        </ng-container>
                    </select>
                    <button class="btn btn-primary btn-sm" (click)="addCourseSelected()">+</button>
                </div>
                <div class="col-3" *ngIf="type_coupon == 2">
                    <div class="fs-6 fw-bold mt-2 mb-3">Categoría</div>
                    <select class="form-control form-select-solid fw-bolder" name="categorie" [(ngModel)]="category_id">
                        <!-- <option [value]="">Seleccione</option> -->
                        <ng-container *ngFor="let category of categories">
                            <option [value]="category.id">{{category.nombre}}</option>
                        </ng-container>
                    </select>
                    <button class="btn btn-primary btn-sm" (click)="addCategorySelected()">+</button>
                </div>
                <!-- tablas -->
                <div class="col-6" *ngIf="type_coupon == 1">
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                            <!--begin::Table head-->
                            <thead>
                                <tr class="fw-bolder text-muted">
                                    <th class="w-25px">
                                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                                            <input class="form-check-input" type="checkbox" value="1"
                                                data-kt-check="true" data-kt-check-target=".widget-9-check">
                                        </div>
                                    </th>
                                    <th class="min-w-200px">Curso</th>
                                    <th class="min-w-100px text-end">Actions</th>
                                </tr>
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody>
                                <tr *ngFor="let curselect of course_selecteds; let i = index">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="symbol symbol-45px me-5">
                                                <img [src]="curselect.imagen" [alt]="curselect.title | slice:0:5">
                                            </div>
                                            <div class="d-flex justify-content-start flex-column">
                                                <a href="#" onclick="return false"
                                                    class="text-dark fw-bolder text-hover-primary fs-6">{{curselect.title}}</a>
                                                <!-- <span class="text-muted fw-bold text-muted d-block fs-7">HTML, JS, ReactJS</span> -->
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-end flex-shrink-0">

                                            <a href="#" onclick="return false"
                                                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                                                (click)="deleteCourse(i)">
                                                <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                                <span class="svg-icon svg-icon-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none">
                                                        <path
                                                            d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z"
                                                            fill="currentColor"></path>
                                                        <path opacity="0.5"
                                                            d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z"
                                                            fill="currentColor"></path>
                                                        <path opacity="0.5"
                                                            d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    </div>
                </div>
                <div class="col-6" *ngIf="type_coupon == 2">
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                            <!--begin::Table head-->
                            <thead>
                                <tr class="fw-bolder text-muted">
                                    <th class="w-25px">
                                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                                            <input class="form-check-input" type="checkbox" value="1"
                                                data-kt-check="true" data-kt-check-target=".widget-9-check">
                                        </div>
                                    </th>
                                    <th class="min-w-200px">Categoría</th>
                                    <th class="min-w-100px text-end">Actions</th>
                                </tr>
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody>
                                <tr *ngFor="let catselect of category_selecteds; let i = index">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="symbol symbol-45px me-5">
                                                <img [src]="catselect.imagen" [alt]="catselect.nombre">
                                            </div>
                                            <div class="d-flex justify-content-start flex-column">
                                                <a href="#" onclick="return false;"
                                                    class="text-dark fw-bolder text-hover-primary fs-6">{{catselect.nombre}}</a>
                                                <!-- <span class="text-muted fw-bold text-muted d-block fs-7">HTML, JS, ReactJS</span> -->
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-end flex-shrink-0">

                                            <a href="#" onclick="return false"
                                                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                                                (click)="deleteCat(i)">
                                                <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                                <span class="svg-icon svg-icon-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24" fill="none">
                                                        <path
                                                            d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z"
                                                            fill="currentColor"></path>
                                                        <path opacity="0.5"
                                                            d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z"
                                                            fill="currentColor"></path>
                                                        <path opacity="0.5"
                                                            d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    </div>
                </div>
            </div>


        </div>
        <!--end::Card body-->
        <!--begin::Card footer-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="button" (click)="save()" class="btn btn-primary"
                id="kt_project_settings_submit">Actualizar</button>
        </div>
        <!--end::Card footer-->
        <input type="hidden">
        <div></div>
    </form>
    <!--end:Form-->
</div>