<span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span>
<!--begin::Card-->
<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <input type="text" [(ngModel)]="search" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search " (keyup.enter)="listarPedidos()" />

            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                <!--begin::Filter-->
                <button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                <span class="svg-icon svg-icon-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->Filter</button>
                <!--begin::Menu 1-->
                <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true">
                    <!--begin::Header-->
                    <div class="px-7 py-5">
                        <div class="fs-5 text-dark fw-bolder">Filter Options</div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Separator-->
                    <div class="separator border-gray-200"></div>
                    <!--end::Separator-->
                    <!--begin::Content-->
                    <div class="px-7 py-5" data-kt-user-table-filter="form">
                        <!--begin::Input group-->
                        <div class="mb-10">
                            <label class="form-label fs-6 fw-bold">Estado:</label>
                            <select [(ngModel)]="status" (change)="listarPedidos()" class="form-select form-select-solid fw-bolder" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-user-table-filter="role" data-hide-search="true">
                                
                                <option value="0">Todos</option>
                                <option value="1">Pendiente</option>
                                <option value="2">Entregado</option>
                                <option value="3">Cancelado</option>
                            </select>
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Menu 1-->
                <!--end::Filter-->
               
                
                <!--end::Add user-->
                <!--begin::back-->
                <a  (click)="goBack()" type="button" class="btn btn-danger">Volver </a>
                <!--end::back-->
            </div>
            <!--end::Toolbar-->
            
            
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body py-4 cuadro-scroll">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5 table-responsive" id="kt_table_users">
            <!--begin::Table head-->
            <thead>
                <!--begin::Table row-->
                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                    
                    
                    <th class="min-w-125px">n_transaccion</th>
                    <th class="min-w-125px">Payment Method</th>
                    <th class="min-w-125px">Price $</th>
                    <th class="min-w-125px">Price envio</th>
                    <th class="min-w-125px">total</th>
                    <th class="min-w-125px">Payment Currency</th>
                    <th class="min-w-125px">Status</th>
                    <th class="min-w-125px">Acción</th>
                    <th class="text-end min-w-100px">Actions</th>
                </tr>
                <!--end::Table row-->
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody class="text-gray-600 fw-bold">
                <!--begin::Table row-->
                <ng-container *ngFor="let sale of SALES">
                    <tr>
                    
                        <!--begin::imagen=-->
                        <!-- <td class=""> -->
                            <!--begin:: Avatar -->
                            <!-- <div class="symbol  symbol-50px overflow-hidden me-3" *ngIf="sale.imagen">
                                <a href="#" onclick="return false">
                                    <div class="symbol-label">
                                        <img [src]="sale.imagen" alt="{{sale.title}}" class="w-100" />
                                    </div>
                                </a>
                            </div> -->
                            <!--end::Avatar-->
                        <!-- </td> -->
                        <!--end::imagen=-->
                        
                        <!--end::Role=-->
                        <td class="">
                            <!--begin::User details-->
                            <div class="d-flex flex-column">
                                <a href="#" onclick="return false" (click)="verVenta(sale)" class="text-gray-800 text-hover-primary mb-1">{{sale.n_transaccion }}</a>
                            </div>
                            <!--begin::User details-->
                        </td>
                        <td class="">
                            <!--begin::User details-->
                            <div class="d-flex flex-column">
                                <a href="#" onclick="return false" class="text-gray-800 text-hover-primary mb-1">{{sale.method_payment }}</a>
                            </div>
                            <!--begin::User details-->
                        </td>
                        <td class="">
                            <!--begin::User details-->
                            <div class="d-flex flex-column">
                                <a href="#" onclick="return false" class="text-gray-800 text-hover-primary mb-1">{{sale.price_dolar }}</a>
                            </div>
                            <!--begin::User details-->
                        </td>
                        <td class="">
                            <!--begin::User details-->
                            <div class="d-flex flex-column">
                                <a href="#" onclick="return false" class="text-gray-800 text-hover-primary mb-1">{{sale.precio_envio }}</a>
                            </div>
                            <!--begin::User details-->
                        </td>
                        <td class="">
                            <!--begin::User details-->
                            <div class="d-flex flex-column">
                                <a href="#" onclick="return false" class="text-gray-800 text-hover-primary mb-1">{{sale.total }}</a>
                            </div>
                            <!--begin::User details-->
                        </td>
                        <td class="">
                            <!--begin::User details-->
                            <div class="d-flex flex-column">
                                <a href="#" onclick="return false" class="text-gray-800 text-hover-primary mb-1">{{sale.currency_payment }}</a>
                            </div>
                            <!--begin::User details-->
                        </td>
                        <td>
                            <div class="badge badge-light fw-bolder">
                                <div class="badge badge-light-warning fw-bolder" *ngIf="sale.status == 1">Pendiente</div>
                                <div class="badge badge-light-success fw-bolder" *ngIf="sale.status == 2">Entregado</div>
                                <div class="badge badge-light-danger fw-bolder" *ngIf="sale.status == 3">Cancelado</div>
                            </div>
                        </td>
                        
                        <td>
                            <select class="form-control" [(ngModel)]="sale.status" (change)="cambiarStatus(sale)">
                          <option value="1">Pendiente</option>
                          <option value="2">Entregado</option>
                          <option value="3">Cancelado</option>
                        </select>
                        </td>
                        <!--end::Last login=-->
                        <!--begin::Joined-->
                        <td>
                            <!-- <a href="#" onclick="return false" class="text-gray-800 text-hover-primary mb-1">{{blog.category.name }}</a> -->
                            
                        </td>
                        <!--begin::Joined-->
                        <!--begin::Action=-->
                        <td class="text-end">
                            <div class="d-flex justify-content-end flex-shrink-0">
                                
                               
                                
                                
                                <a href="#" onclick="return false" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" (click)="eliminarBlog(blog)" >
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor" />
                                            <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor" />
                                            <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </a>
                            </div>	
                            <!--end::Menu-->
                        </td>
                        <!--end::Action=-->
                    </tr>
                </ng-container>
                
                
                <!--end::Table row-->
                
                <!--end::Table row-->
            </tbody>
            <!--end::Table body-->
        </table>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>
<!--end::Card-->