<span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span>
<div class="card" *ngIf="productSelected">
    
    <!--begin::Card header-->
    <div class="card-header">
        <!--begin::Card title-->
        <div class="card-title fs-3 fw-bolder">Editar Producto #{{productSelected.id}}</div>
        <!--end::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                <!--begin::back-->
                <a  (click)="goBack()" type="button" class="btn btn-danger">Volver </a>
                <!--end::back-->
            </div>
            <!--end::Toolbar-->
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Form-->
    <form id="kt_project_settings_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
        <!--begin::Card body-->
        <div class="card-body p-9">
            
            <!--begin::Row-->
            <div class="row mb-8">
                <div class="col-5">
                    <div class="fs-6 fw-bold mt-2 mb-3">Título del Producto</div>
                    <input type="text" class="form-control form-control-solid" [(ngModel)]="title" name="title" placeholder="Desarrollo web" >
                </div>
                <div class="col-7">
                    <div class="fs-6 fw-bold mt-2 mb-3">Subtitulo del Producto</div>
                    <input type="text" class="form-control form-control-solid" [(ngModel)]="subtitle" name="subtitle" placeholder="funciones avanzadas del desarrollo web" >
                </div>
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-8">
                <div class="col-2">
                    <div class="fs-6 fw-bold mt-2 mb-3">Precio $</div>
                    <input type="number" class="form-control form-control-solid" [(ngModel)]="price_usd" name="price_usd" placeholder="30"  >
                </div>
                <div class="col-2">
                    <div class="fs-6 fw-bold mt-2 mb-3">Precio Bs.Ves</div>
                    <input type="number" class="form-control form-control-solid" [(ngModel)]="price_bves" name="price_bves" placeholder="50"  >
                </div>
                <div class="col-4">
                    <div class="fs-6 fw-bold mt-2 mb-3">Categoría: </div>
                    <select
                        class="form-control form-select-solid fw-bolder"
                        name="categorie"
                        placeholder="Selec. Categoria"
                        [(ngModel)]="category_id"
                        >
                        <ng-container *ngFor="let category of categories">
                            <option [value]="category.id">{{category.name}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-4">
                    <div class="col-lg-6 col-md-6 col-sm-12 my-2">
                        <label class="form-label">Sube tu portada: *</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile"  accept=".jpeg, .bmp, .jpg, .png, .gif, .webp"  (change)="processFile($event)">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <div class="py-3" *ngIf="imagenPrevisualizar">
                            <img [src]="imagenPrevisualizar" width="250" alt="" srcset="">
                        </div>
                    </div>
                </div>
                
                <div class="col-4">
                    <div class="fs-6 fw-bold mt-2 mb-3">Instructor</div>
                    <select
                    class="form-control form-select-solid fw-bolder"
                    name="user"
                    [(ngModel)]="user_id"
                    
                    placeholder="Selec. Idioma">
                    <ng-container *ngFor="let instructor of instructors">
                        <option [value]="instructor.id">{{instructor.full_name}}</option>
                    </ng-container>
                </select>
                </div>
                
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-8">
                <div class="col-xl-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"> Descripción</div>
                </div>
                <div class="col-xl-9 fv-row fv-plugins-icon-container">
                    <ckeditor  [data]="description" (change)="onChange($event)"></ckeditor>
                </div>
                
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-8">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="fs-6 fw-bold mt-2 mb-3"> Requerimientos:</div>
                            <div class="d-flex">
                                <input type="text" class="form-control form-control-solid" (keyup.enter)="addRequirements()" [(ngModel)]="text_regueriments" name="requirements" placeholder="Angular Basico" >
                                <button class="btn btn-sm btn-primary mx-4" (click)="addRequirements()">+</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="table-responsive">
                                <!--begin::Table-->
                                <table class="table align-middle gs-0 gy-3">
                                    <!--begin::Table head-->
                                    <thead>
                                        <tr>
                                            <th class="p-0 "></th>
                                            <th class="p-0 "></th>
                                        </tr>
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody>
                                        <tr *ngFor="let requirement of requirements; let i = index;">
                                            <td>
                                                <a href="#" onclick="return false;" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{requirement}}</a>
                                            </td>
                                            <td class="text-end text-muted fw-bold">
                                                
                                                <button class="btn btn-sm btn-danger" (click)="removeRequirement(i)">X</button>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="fs-6 fw-bold mt-2 mb-3"> Para quien está dirigido?:</div>
                            <div class="d-flex">
                                <input type="text" class="form-control form-control-solid"(keyup.enter)="addWhatisFor()"  [(ngModel)]="textWhoIsItFors" name="who_is_it_for" placeholder="Desarrolladores frontend / web" >
                            <button class="btn btn-sm btn-primary mx-4" (click)="addWhatisFor()">+</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="table-responsive">
                                <!--begin::Table-->
                                <table class="table align-middle gs-0 gy-3">
                                    <!--begin::Table head-->
                                    <thead>
                                        <tr>
                                            <th class="p-0 "></th>
                                            <th class="p-0 "></th>
                                        </tr>
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody>
                                        <tr *ngFor="let who_is_it_for of who_is_it_fors; let i = index;">
                                            
                                            <td>
                                                <a href="#" onclick="return false;" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">{{who_is_it_for}}</a>
                                            </td>
                                            <td class="text-end text-muted fw-bold">
                                                
                                                <button class="btn btn-sm btn-danger" (click)="removeWhatisFor(i)">X</button>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row mb-8">
                <!--begin::Input group-->
                <div class="col-4">
                    <!--begin::Label-->
                    <label class="required fw-bold fs-6 mb-2">Status</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <select
                    class="form-control form-select-solid fw-bolder"
                    name="state" [(ngModel)]="state"
                    placeholder="state"
                >
                    <option value="1">Prueba</option>
                    <option value="2">Publico</option>
                </select>
                    <!--end::Input-->
                </div>
                
                
            </div>
            <div class=" row col-md-8">
                <div class="col-5">
                    <label class="form-label">Sube tu video del trailer: *</label>
                    <div class="custom-file">
                        <!-- (change)="processFile($event)" -->
                        <input type="file" class="custom-file-input" id="customFile"  accept=".mp4" name="videocurso"   (change)="processVideo($event)"  >
                        <label class="custom-file-label" for="customFile" >Choose video</label>
                    </div>
                    <div>
                        <ng-container *ngIf="productSelected.vimeo_id">
                        <iframe class="embed-responsive-item shadow" width="100%" height="140" [src]="urlVideo(productSelected.vimeo_id)" frameborder="0" allow="accelerometer; autoplay;  " allowfullscreen></iframe>
                        </ng-container>
                        <!-- <div *ngIf="linkVideoCourse" class="py-4">
                            <iframe [src]="urlVideo()" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div> -->
                    </div>
                    <div class="col-5">
                        <button class="btn btn-primary btn-sm" (click)="uploadVideo()" *ngIf="!isUploadVideo">+</button>
                        <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isUploadVideo"></span>
                    </div>
                </div>
            </div>
            <!--end::Row-->
            
            
        </div>
        <!--end::Card body-->
        <!--begin::Card footer-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="button" (click)="save()" class="btn btn-primary" id="kt_project_settings_submit">Actualizar</button>
        </div>
        <!--end::Card footer-->
    <input type="hidden"><div></div></form>
    <!--end:Form-->
</div>