<!-- begin::Header -->
<div class="card-header border-0">
  <h3 class="card-title fw-bolder text-dark">Cursos (últimas 5 de {{childMessage.courses.length}})</h3>
  <div class="card-toolbar">
    <!-- begin::Menu -->
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </button>
    <!-- end::Menu -->
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body pt-2 list">
  <ng-container *ngFor="let course of COURSES | slice:0:5;">
    <!-- begin::Item -->
    <div class="d-flex align-items-center mb-7">
      <!-- begin::Avatar -->
      <div class="symbol symbol-50px me-5">
        <img src="{{imagenSerUrl}}/{{course.imagen}}" class="" alt="" />
      </div>
      <!-- end::Avatar -->
      <!-- begin::Text -->
      <div class="flex-grow-1">
        <a [routerLink]="['/cursos/list/editar', course.id]" onclick="return false"  class="text-dark fw-bolder text-hover-primary fs-6">
          {{course.title}}
        </a>
        <span class="text-muted d-block fw-bold">slug: {{course.slug}}</span>
        <span class="text-muted d-block fw-bold">price_usd: ${{course.price_usd}}</span>
        <span class="text-muted d-block fw-bold">idioma: {{course.idioma}}</span>
        
      </div>
      <div class="flex-grow-1">
        <span class="text-muted d-block fw-bold">state: <br>
          <div class="badge badge-light-warning fw-bolder" *ngIf="course.state == 1">Público</div>
          <div class="badge badge-light-success fw-bolder" *ngIf="course.state == 2">Pendiente</div>
          <!-- <div class="badge badge-light-danger fw-bolder" *ngIf="course.state == 3">Cancelado</div> -->
        </span>
        
      </div>
      <!-- end::Text -->
    </div>
    <!-- end::Item -->
  </ng-container>
  
  
</div>
<!-- end::Body -->
