<span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span>
<!--begin::Card-->
<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <input type="text" [(ngModel)]="search" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search emails" (keyup.enter)="listarCorreos()" />

            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                
                <!--begin::exportsvc-->
                <a  (click)="csvExport()" type="button" class="btn btn-primary">
                 <!--end::Svg Icon-->Export SVC
                 </a>
                 <!--end::exportsvc-->
                 
                 <!--begin::export xls-->
                 <a  (click)="excelExport()" type="button" class="btn btn-primary">
                 <!--end::Svg Icon-->Export XLS
                 </a>
                 <!--end::export xls-->
                 <!--begin::back-->
                <a  (click)="goBack()" type="button" class="btn btn-danger">Volver </a>
                <!--end::back-->
             </div>
             <!--end::Toolbar-->
            
        </div>

        
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body py-4">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5 table-responsive" id="kt_table_users">
            <!--begin::Table head-->
            <thead>
                <!--begin::Table row-->
                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                    
                    <th >ID</th>
                    <th class="min-w-125px">Tema</th>
                    <th class="min-w-125px">Nombre</th>
                    <th class="min-w-125px">Email</th>
                    <th class="min-w-125px">Whatsapp</th>
                    <th class="min-w-125px">Phone</th>
                    <th class="min-w-125px">Status</th>
                    <th class="min-w-125px">Creado</th>
                    <th class="text-end min-w-100px">Actions</th>
                </tr>
                <!--end::Table row-->
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody class="text-gray-600 fw-bold">
                <!--begin::Table row-->
                <ng-container *ngFor="let correo of CORREOS">
                    <tr>
                    
                        
                        <!--end::Role=-->
                        <td class="">
                            <!--begin::User details-->
                            <div class="d-flex flex-column">
                                <p>{{correo.id }}</p>
                            </div>
                            <!--begin::User details-->
                        </td>
                        <td>
                            <p class="text-gray-800 text-hover-primary mb-1">{{correo.subject | slice:0: 15 }}...</p>
                            
                        </td>
                        <td>
                            <p class="text-gray-800 text-hover-primary mb-1">{{correo.name | slice:0: 15 }}...</p>
                            
                        </td>
                        <td>
                            <p class="text-gray-800 text-hover-primary mb-1">{{correo.email | slice:0: 15 }}...</p>
                            
                        </td>
                        <td>
                            <a href="tel:{{correo.phone }}" target="_blank" class="text-gray-800 text-hover-primary mb-1">{{correo.phone }}</a>
                            
                        </td>
                        <td>
                            <a href="https://wa.me/{{correo.whatsapp}}" target="_blank" class="text-gray-800 text-hover-primary mb-1">{{correo.whatsapp }}</a>
                            
                        </td>

                        <td>
                            <div class="badge badge-light fw-bolder">
                                <div class="badge badge-light-danger fw-bolder" *ngIf="correo.status == 'PENDING'">Pendiente</div>
                                <!-- <div class="badge badge-light-success fw-bolder" *ngIf="correo.status == 2">Publico</div> -->
                            </div>
                        </td>
                        <!--end::Last login=-->
                        <!--begin::Joined-->
                        
                        
                        <td>
                            <p class="text-gray-800 text-hover-primary mb-1">{{correo.created_at | date}}</p>
                            
                        </td>
                        <!--begin::Joined-->
                        <!--begin::Action=-->
                        <td class="text-end">
                            <div class="d-flex justify-content-end flex-shrink-0">
                                
                                <a [routerLink]="['/correos/correos/', correo.id]" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"  >
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.3" d="M18 22C19.7 22 21 20.7 21 19C21 18.5 20.9 18.1 20.7 17.7L15.3 6.30005C15.1 5.90005 15 5.5 15 5C15 3.3 16.3 2 18 2H6C4.3 2 3 3.3 3 5C3 5.5 3.1 5.90005 3.3 6.30005L8.7 17.7C8.9 18.1 9 18.5 9 19C9 20.7 7.7 22 6 22H18Z" fill="currentColor"></path>
                                            <path d="M18 2C19.7 2 21 3.3 21 5H9C9 3.3 7.7 2 6 2H18Z" fill="currentColor"></path>
                                            <path d="M9 19C9 20.7 7.7 22 6 22C4.3 22 3 20.7 3 19H9Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </a>
                                <a [routerLink]="['/correos/correos/editar/', correo.id]" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"  >
                                    <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.3" d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z" fill="currentColor" />
                                            <path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z" fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </a>
                                <a href="#" onclick="return false" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" (click)="eliminarCurso(correo)" >
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="currentColor" />
                                            <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="currentColor" />
                                            <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </a>
                            </div>	
                            <!--end::Menu-->
                        </td>
                        <!--end::Action=-->
                    </tr>
                </ng-container>
                
                
                <!--end::Table row-->
                
                <!--end::Table row-->
            </tbody>
            <!--end::Table body-->
        </table>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>
<!--end::Card-->