<span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span>
<!--begin::Card-->
<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <!-- <input type="text" [(ngModel)]="search" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search category" (keyup.enter)="listarCursos()" /> -->

            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                
                
                <!--end::Add user-->
                <!--begin::back-->
                <a  (click)="goBack()" type="button" class="btn btn-danger">Volver </a>
                <!--end::back-->
            </div>
            <!--end::Toolbar-->
            
            
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body py-4 cuadro-scroll">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5 table-responsive" id="kt_table_users">
            <!--begin::Table head-->
            <thead>
                <!--begin::Table row-->
                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                    
                    
                    <th class="min-w-125px">n_transaccion</th>
                    <th class="min-w-125px">Payment Method</th>
                    <th class="min-w-125px">total</th>
                    <th class="min-w-125px">Payment Currency</th>
                    <th class="min-w-125px">Status</th>
                    <th class="min-w-125px">Acción</th>
                </tr>
                <!--end::Table row-->
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody class="text-gray-600 fw-bold">
                <!--begin::Table row-->
                <ng-container *ngFor="let sale of SALES">
                    <tr>
                    
                        <!--begin::imagen=-->
                        <!-- <td class=""> -->
                            <!--begin:: Avatar -->
                            <!-- <div class="symbol  symbol-50px overflow-hidden me-3" *ngIf="sale.imagen">
                                <a href="#" onclick="return false">
                                    <div class="symbol-label">
                                        <img [src]="sale.imagen" alt="{{sale.title}}" class="w-100" />
                                    </div>
                                </a>
                            </div> -->
                            <!--end::Avatar-->
                        <!-- </td> -->
                        <!--end::imagen=-->
                        
                        <!--end::Role=-->
                        <td class="">
                            <!--begin::User details-->
                            <div class="d-flex flex-column">
                                <a href="#" onclick="return false" (click)="verVenta(sale)" class="text-gray-800 text-hover-primary mb-1">{{sale.n_transaccion }}</a>
                            </div>
                            <!--begin::User details-->
                        </td>
                        <td class="">
                            <!--begin::User details-->
                            <div class="d-flex flex-column">
                                <a href="#" onclick="return false" class="text-gray-800 text-hover-primary mb-1">{{sale.method_payment }}</a>
                            </div>
                            <!--begin::User details-->
                        </td>
                        
                        <td class="">
                            <!--begin::User details-->
                            <div class="d-flex flex-column">
                                <a href="#" onclick="return false" class="text-gray-800 text-hover-primary mb-1">{{sale.total }}</a>
                            </div>
                            <!--begin::User details-->
                        </td>
                        <td class="">
                            <!--begin::User details-->
                            <div class="d-flex flex-column">
                                <a href="#" onclick="return false" class="text-gray-800 text-hover-primary mb-1">{{sale.currency_payment }}</a>
                            </div>
                            <!--begin::User details-->
                        </td>
                        <td>
                            <div class="badge badge-light fw-bolder">
                                <div class="badge badge-light-warning fw-bolder" *ngIf="sale.status == 1">Pendiente</div>
                                <div class="badge badge-light-success fw-bolder" *ngIf="sale.status == 2">Entregado</div>
                                <div class="badge badge-light-danger fw-bolder" *ngIf="sale.status == 3">Cancelado</div>
                            </div>
                        </td>
                        
                        <td>
                            <select class="form-control" [(ngModel)]="sale.status" (change)="cambiarStatus(sale)">
                          <option value="1">Pendiente</option>
                          <option value="2">Entregado</option>
                          <option value="3">Cancelado</option>
                        </select>
                        </td>
                        <!--end::Last login=-->
                        <!--begin::Joined-->
                        <td>
                            <!-- <a href="#" onclick="return false" class="text-gray-800 text-hover-primary mb-1">{{blog.category.name }}</a> -->
                            
                        </td>
                        <!--begin::Joined-->
                    </tr>
                </ng-container>
                
                
                <!--end::Table row-->
                
                <!--end::Table row-->
            </tbody>
            <!--end::Table body-->
        </table>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>
<!--end::Card-->